<ion-header>
  <ion-toolbar>
    <ion-title>
      登录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="45px">
  <ion-item>
    <ion-input placeholder="请输入手机号" [(ngModel)]="user.phone"></ion-input>
    <img src="../../../assets/icon/icon-arrow-down.png" height="10" width="18" (click)="presentPopover($event)"/></ion-item>
  <ion-item>
    <ion-input type="{{ifShowPwd?'text':'password'}}" placeholder="请输入密码" [(ngModel)]="user.passwd"></ion-input>
    <img src="../../../assets/icon/icon-eye-{{ifShowPwd?'open':'close'}}.png" height="10" width="18" (click)="ifShowPwd = !ifShowPwd"/>
  </ion-item>

  <ion-button expand="block" (click)="login()">登录</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left">
        <a routerLink="/findpwd" routerLinkActive="active" >忘记密码?</a>
      </ion-col>
      <ion-col class="ion-text-right">
        注册
        <a routerLink="/register" routerLinkActive="active" >
          <i class="fa fa-arrow-right"></i>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
