<ion-header>
  <ion-toolbar>
    <ion-title>
      登录/注册
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="45px">
  <ion-item>
    <ion-input placeholder="请输入手机号"></ion-input>
    <img src="../../../assets/icon/eyes%20shut%20copy.png" height="10" width="18"/></ion-item>
  <ion-item>
    <ion-input placeholder="请输入密码"></ion-input>
    <img src="../../../assets/icon/icon-openeye.png" height="10" width="18"/></ion-item>
  <ion-item>
    <ion-input></ion-input>
    <ion-label>获取验证码</ion-label>
  </ion-item>
  <ion-button expand="block">登录</ion-button>
  <a routerLink="tabs">忘记密码</a>
  <a routerLink="tabs">注册</a>

</ion-content>
