<ion-content>
  <ion-grid style="background:linear-gradient(136deg,rgba(69,142,243,1) 0%,rgba(49,101,236,1) 100%);color: white">
    <ion-row style="margin-top: 10px">
      <ion-col size="2" style="text-align: left" >
          <ion-icon name="ios-arrow-back" style="font-size:21px" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col size="8" style="text-align: center;">
        <span style="font-size: 18px">
          {{title}}
        </span>
      </ion-col>
      <ion-col size="2" style="text-align: center;">
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="{{outUrl}}">

</ion-content>
