<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="city-air">
      <ion-icon name="cloudy"></ion-icon>
      <ion-label>城市空气</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="device-map">
      <ion-icon name="map"></ion-icon>
      <ion-label>设备地图</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="contact"></ion-icon>
      <ion-label>我的设备</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="more"></ion-icon>
      <ion-label>更多</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
