<ion-content style="background: #F8FAFF">
  <ion-grid style="background:linear-gradient(136deg,rgba(69,142,243,1) 0%,rgba(49,101,236,1) 100%);color: white">
      <ion-row style="margin-top: 10px;">
        <ion-col size="12">
          <ion-icon name="ios-arrow-back" style="font-size:18px" (click)="goBack()"></ion-icon>
          <ion-title>{{device.deviceName}}（{{device.state}}）</ion-title>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:10px">
      <ion-col size="1"></ion-col>
      <ion-col size="10" align-self-center>
          <div style="width:110px;height:110px;margin: 0 auto;text-align:center;border:3px solid rgba(255,255,255,1);border-radius: 80px">
            <div style="margin-top: 20px; color: #fff">
                <p style="font-size: 23px; margin: 5px">正常</p>
                <div style="width:30px; height:3px; margin: 0 auto; background:rgba(255,255,255,1);"></div>
                <p style="font-size: 14px"><ion-icon name="ios-flame"></ion-icon>天然气</p>
            </div>
          </div>
          <div style="margin: 0 auto; text-align:center; color: #fff">
            <p style="font-size: 20px; margin-bottom: 5px">{{device.currentTime}}</p>
            <p style="font-size: 12px; font-weight: 300; margin-top: 5px">服务时间：{{device.serviceTime}}</p>
          </div>
      </ion-col>
      <ion-col size="1">
          <!-- <img src="../../../../assets/icon/mine/icon-detail-share.png" style="width:17px;height:17px;margin-right: 5px"> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
      <ion-item detail="true" (click)="toSetting()">
        <img src="../../../../assets/icon/mine/icon-detail-set.png" style="width:21px;height:21px" slot="start">
        <ion-label>设置</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="toAlarmHandle()">
        <img src="../../../../assets/icon/mine/icon-detail-help.png" style="width:21px;height:21px" slot="start">
        <ion-label>事故解除方法</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="toGetService()">
        <img src="../../../../assets/icon/mine/icon-detail-bao.png" style="width:21px;height:21px" slot="start">
        <ion-label>服务延保</ion-label>
      </ion-item>
      <ion-item detail="true" routerLink="/alarm-his" routerLinkActive="true">
        <img src="../../../../assets/icon/mine/icon-detail-baojingjilu.png" style="width:21px;height:21px" slot="start">
        <ion-label>报警记录</ion-label>
      </ion-item>
      <ion-item detail="true">
        <img src="../../../../assets/icon/mine/icon-detail-商场.png" style="width:21px;height:21px" slot="start">
        <ion-label>商城</ion-label>
      </ion-item>
  </ion-list>
  <!-- 室内指数 -->
  <ion-grid>
    <ion-row>
      <ion-col align-self-left>
          <p style="font-weight: bold; font-size: 16px; color: #333333">
            <b style="font-size: 20px">I</b>
            室内指数
          </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" align-self-center style="text-align: center">
          <img src="../../../../assets/icon/mine/状态显示.png" style="width:90px;height:90px">
      </ion-col>
      <ion-col size="4" align-self-center style="text-align: center">
        <span style="font-size: 16px; font-weight: 300; color: #9FA5B4">%LEL</span>
        <p style="font-size: 40px; font-weight: 300; color: #333333; margin: 5px">{{checkRecord.checkValue}}</p>
      </ion-col>
      <ion-col size="1" align-self-center>
        <div style="width:1px;
        height:38px;
        background:rgba(159,165,180,1);"></div>
      </ion-col>
      <ion-col size="3" align-self-center style="text-align: center">
        <p style="font-weight: normal; font-size: 16px; color: #333333">常通风</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 历史数据 -->
  <ion-grid>
      <ion-row>
        <ion-col align-self-left>
          <p style="font-weight: bold; font-size: 16px; color: #333333">
            <b style="font-size: 20px">I</b>
              历史数据
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
            <ion-segment color="primary" (ionChange)="segmentChanged($event.detail.value)">
                <ion-segment-button value="day" checked>
                  <ion-label style="width:30px">24小时</ion-label>
                </ion-segment-button>
                <ion-segment-button value="month">
                  <ion-label style="width:30px">30天</ion-label>
                </ion-segment-button>
                <ion-segment-button value="year">
                    <ion-label style="width:30px">1年</ion-label>
                  </ion-segment-button>
              </ion-segment>
        </ion-col>
      
        <ion-col size="4" align-self-center style="text-align: center">
          <p style="font-size: 14px; color: #626B80; font-weight: 300; margin: 0px"><i style="color:#4CDB3F; font-size: 10px" class="fa fa-circle"></i> 正常</p>
          <p style="font-size: 14px; color: #626B80; font-weight: 300; margin: 0px"><i style="color:#FB4566; font-size: 10px" class="fa fa-circle"></i> 报警</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div id="container" style="height: 200px"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- 极客工具箱 -->
    <ion-grid>
        <ion-row>
          <ion-col align-self-left>
            <p style="font-weight: bold; font-size: 16px; color: #333333">
              <b style="font-size: 20px">I</b>
                极客工具箱
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" align-self-center style="text-align: center" routerLink="/record-his" routerLinkActive="true">
              <img src="../../../../assets/icon/mine/icon-详细历史.png" style="width:40px;height:40px">
              <p style="margin: 0">详细历史</p>
          </ion-col>
          <ion-col size="4" align-self-center style="text-align: center" routerLink="/record-his-pro" routerLinkActive="true">
              <img src="../../../../assets/icon/mine/icon-专业记录.png" style="width:40px;height:40px">
              <p style="margin: 0">专业记录</p>
          </ion-col>
          <ion-col size="4" align-self-center style="text-align: center">
              <img src="../../../../assets/icon/mine/icon-敬请期待.png" style="width:40px;height:40px">
              <p style="margin: 0">敬请期待</p>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
