ion-note{
    height:29px;
    background:rgba(240,246,255,1);
    border-radius:10px;
    margin: 5px;
    padding: 10px;
}
.del-label{
    background:rgb(225, 226, 228);
    height: 15px;
    padding: 5px;
    border-radius:10px;
}