<!-- <ion-header>
  <ion-toolbar>
    <ion-icon name="ios-arrow-back" size="large" routerLink="/tabs/city-air" routerLinkActive="true"></ion-icon>
    <ion-title>管理城市</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <ion-grid style="background:linear-gradient(136deg,rgba(69,142,243,1) 0%,rgba(49,101,236,1) 100%);color: white">
        <ion-row style="margin-top: 10px">
          <ion-col size="2" style="text-align: left" >
              <ion-icon name="ios-arrow-back" style="font-size:21px" (click)="goBack()"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center;">
            <span style="font-size: 18px">
                管理城市
            </span>
          </ion-col>
          <ion-col size="2" style="text-align: center;">
          </ion-col>
        </ion-row>
      </ion-grid>
  <div style="margin-top: 20px"></div>
  <!-- 显示已勾选城市 -->
  <ion-note color="primary" *ngFor="let city of checkdCityList">
    {{city.cityName}}
    <ion-label class="del-label" (click)="removeChecked(city.cityId)">x</ion-label>
  </ion-note>
  <!-- 搜索 -->
  <ion-searchbar type="text" (ionInput)="searchCity($event)" [(ngModel)]="searchKey" placeholder="请输入城市名称搜索城市" ></ion-searchbar>
  <!-- 选择城市 -->
  <ion-list>
    <ion-item *ngFor="let city of cityList">
      <ion-label>{{city.cityName}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="city.isChecked" (ionChange)="saveChecked()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
