<ion-header padding="45px">
    <ion-toolbar>
        <a class="ion-text-left" routerLink="/register" style="color:#333333" routerLinkActive="true">
            <i class="fa fa-angle-left" style="font-size: 30px;color:#333333"></i>
        </a>
        <ion-title>
            隐私协议
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="45px">
    <p>尚德荣尊重和保护用户的隐私。本隐私政策将告诉您我们如何收集和使用有关您的信息，以及我们如何保护这些信息的安全。</p>
    <p>您成为尚德荣用户前务必仔细阅读本隐私条款并同意所有隐私条款。本隐私政策条款在您注册成为尚德荣用户后立即生效，并对您及尚德荣产生约束力。</p>
    <p>一、我们可能收集的用户信息</p>
    <p>我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。</p>
    <p>1、您提供的信息</p>
    <p>•您在注册账户或使用我们的服务时，向我们提供的相关个人信息，例如电话号码等。</p>
    <p>•您通过我们的服务向其他方提供的共享信息，以及您使用我们的服务时所储存的信息。</p>
    <p>2、其他方分享的您的信息</p>
    <p>•其他方使用我们的服务时所提供有关您的共享信息。</p>
    <p>3、我们获取的您的信息</p>
    <p>您使用服务时我们可能收集如下信息：</p>
    <p>•日志信息，指您使用我们的服务时，系统可能通过cookies、web
        beacon或其他方式自动采集的技术信息，包括：设备或软件信息，例如您的移动设备、网页浏览器或用于接入我们服务的其他程序所提供的配置信息、您的IP地址和移动设备所用的版本和设备识别码；以及您在使用我们服务时要求提供的其他信息和内容详情。</p>
    <p>•位置信息，指您开启设备定位功能并使用我们基于位置提供的相关服务时，收集的有关您位置的信息。您可以通过关闭定位功能，停止对您的地理位置信息的收集。</p>
    <p>•交易信息，指我们对您在尚德荣平台上形成的交易数据信息进行分析并形成用户信用数据库。</p>

    <ion-button color="light" (click)="notAccept()">不接受</ion-button>
    <ion-button  (click)="ifAccept()">接受</ion-button>
</ion-content>
