<!-- <ion-header>
    <ion-toolbar>
      <ion-icon name="ios-arrow-back" slot="start" size="large" routerLink="/device-detail" routerLinkActive="true"></ion-icon>
      <ion-title>事故解除办法</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content>
    <ion-grid style="background:linear-gradient(136deg,rgba(69,142,243,1) 0%,rgba(49,101,236,1) 100%);color: white">
        <ion-row style="margin-top: 10px">
          <ion-col size="2" style="text-align: left" >
              <ion-icon name="ios-arrow-back" style="font-size:21px" (click)="goBack()"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center;">
            <span style="font-size: 18px">
                事故解除办法
            </span>
          </ion-col>
          <ion-col size="2" style="text-align: center;">
          </ion-col>
        </ion-row>
      </ion-grid>
      <p style="margin: 20px; color: #333333; font-size: 14px; ">{{solveMethod}}</p>
</ion-content>
