<ion-header>
    <ion-toolbar>
        <ion-icon name="ios-arrow-back" slot="start" size="large" (click)="goBack()"></ion-icon>
        <ion-title>
        设备地址
        </ion-title>
    </ion-toolbar>
</ion-header>
    
<ion-content color="light">
    <ion-item style="margin-top: 15px">
        <ion-label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区</ion-label>
        <ion-select *ngIf="areaOptions != null" okText="确定" cancelText="取消" placeholder="省"  (ionChange)="areaFilter(1)" [(ngModel)]="province">
            <ion-select-option *ngFor="let p of areaOptions[0].options" [value]="p">{{p.text}}</ion-select-option>
        </ion-select>
        <ion-select okText="确定" cancelText="取消" placeholder="市" (ionChange)="areaFilter(2)" [(ngModel)]="city">
            <ion-select-option *ngFor="let p of citys" [value]="p">{{p.text}}</ion-select-option>
        </ion-select>
        <ion-select okText="确定" cancelText="取消" placeholder="区" [(ngModel)]="area">
            <ion-select-option *ngFor="let p of areas" [value]="p">{{p.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>小区名称</ion-label>
        <ion-input type="text" placeholder="小区名称" [(ngModel)]="device.community" (ionFocus)="setAutoSet()" (ionChange)="searchCommunity()" required="true"></ion-input>
        <ion-button *ngIf="ifShowResult" (click)="closeResult()" color="light">收起</ion-button>
    </ion-item>
    <ion-item style="background:lightgray" *ngIf="ifShowResult">
        <ion-list  style="background:lightgray; padding: 5px">
            <ion-radio-group [(ngModel)]="community" (ionChange)="checkCommunity()">
            <ion-item *ngFor="let c of communityLocs">
                <ion-label>{{c.name}}</ion-label>
                <ion-radio slot="start" [value]="c"></ion-radio>
            </ion-item>    
            </ion-radio-group>
        </ion-list>
    </ion-item>
    <ion-item>
        <ion-label>门&nbsp;&nbsp;牌&nbsp;&nbsp;号</ion-label>
        <ion-input type="text" placeholder="门牌号" [(ngModel)]="device.houseNum" required="true"></ion-input>
    </ion-item>

  <ion-button style="margin-top: 30px" expand="block" (click)="updateAddress()" >确定</ion-button>
</ion-content>
    